*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

p{
    color: rgb(178, 156, 156);
    position: absolute;
    font-family:monospace ;
    z-index: 3;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;
}

#button {
    
    --glow-color: rgba(255, 255, 255, 0.400); /* Mantén un brillo blanco suave */
--glow-spread-color: rgba(33, 69, 42, 0.459); /* Versión transparente del color base #21452a */
--enhanced-glow-color: rgb(47, 108, 73); /* Tono más claro, verde medio */
--btn-color: rgb(33, 69, 42); /* Verde oscuro base #21452a */


    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: black;
    display: block;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .15em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: absolute;
    top: 500px;
    left: 50%;
    transition: opacity 1s; /* Opacity transition for fade in */
    opacity: 1; /* Start visible */
    transform: translateX(-50%);
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    right:15px;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(1em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   #button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);    
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   #button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

@media (max-width: 768px) {
    #button {
        top: 500px;
        left: 50%;
    }
  }
  


p span {
    color: #21452a;
}